.container {
    border: 1px solid purple;
    border-radius: 5px;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

.banner {
    width: 100%;
    background-color: purple;
    color: gold;
    line-height: 24pt;
    text-align: center;
    font-size: 24pt;
}