html {
    height: 95%;
    width: 95%;
    margin: auto;
}

body {
    background-color: black;
    color: gold;
    height: 100%;
}

.container {
    border: 1px solid purple;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    background-color: purple;
    color: gold;
    line-height: 3vh;
    text-align: center;
    font-size: 3vh;
    height: 5%;
}

.messages {
    height: 75%;
    border: 1px solid purple;
}

.commands {
    min-height: 125px;
    height: 20%;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    width: 100%;
}

button {
    background-color: black;
    color: purple;
    border: solid 1px purple;
    min-width: 50px;
    min-height: 25px;
    margin: 5px;
    transition: .25s;
  }
  
  button:hover {
    background-color: purple;
    color: gold;
    cursor: pointer;
    transition: .25s;
  }

  button:disabled {
      text-decoration: line-through;
      cursor: not-allowed;
  }

  .sendMessage {
      width: 100%;
      display: flex;
      flex-grow: 1;
  }

  .sendMessage textarea {
      resize: none;
      margin: 5px;
      flex-grow: 1;
  }